[Unit]
Description=LED Controller
After=network.target

[Service]
WorkingDirectory=/home/pi/led_control/
ExecStart=/usr/bin/python2 /home/pi/led_control/server.py
Restart=on-abort

[Install]
WantedBy=multi-user.target

